<html>
<head>
  <meta charset="utf-8">
</head>
<title> CRUD - Carros de tiozão</title>
<body>
  <form name="act" action="{{ url_for('listing')}}" method="POST">
    <center> <h1>Carros de tiozão </h1> </center>
      <p align="left">Digite o carro em que deseja adicionar: <input type="text" placeholder="Example: Del rey" name="carro"/> </p>
      <input type="submit" value="Submit"></input>
  </form>
    <h2> Carros adicionados </h2>
    {% if all == [] %}
      Nenhum registro!
    {% endif %}
    <ul>
      {% for cars in all %}
      <li> {{ cars }} </li>
      <form method="POST" action="{{ url_for('update') }}">
        <input type="hidden" value="{{ cars }}" name="old_title">
        <input type="text" value="" name="new_title">
        <input type="submit" value="update">
      </form>
      <form method="POST" action="{{ url_for('delete') }}">
        <input type="hidden" value="{{ cars }}" name="delete_title">
        <input type="submit" value="delete">
      </form>
      {% endfor %}
    </ul>
</body>
</html>
